table {
    /* table-layout: fixed; */
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
td {
    white-space: nowrap;
}
td.right{
    text-align: right;
    padding-right: 10px;
}

td.left{
    text-align: left;
    padding-left: 10px;
}

td .rating {
    font-size: 0.7em;
}

.right .rating {
    padding-right: 30px;
}

.left .rating {
    padding-left: 30px;
}

td.winner {
    font-weight: bold;
    color: #6db9ff;
}

.date {
    font-size: 0.8em;
}

div.leftArrow::before {
    content: "◀";
    padding-right: 5px;
}

div.rightArrow::after {
    content: "▶";
    padding-left: 5px;
}

.divider {
    text-align: center;
}

.outcome {
    font-weight: 900;
}

.outcome span {
    color: #754d4d
}

.outcome span.winner {
    color: #4d754d
}

td.player:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 50);
}