<h4 class="divider">Last matches</h4>

<table>
    <tr>
        <th class="hideNarrow">Date</th>
        <th colspan=2>Team 1</th>
        <th>Outcome</th>
        <th colspan=2>Team 2</th>
        <th class="hideNarrow">Estimated score</th>
        <th class="hideNarrow">Lifetime Stats</th>
    </tr>
    <tr *ngFor='let match of data'>
        <td class='date hideNarrow'>
            <div>{{ match.date }}</div>
            <div>{{ match.time }}</div>
        </td>
        <td class='right player' [ngClass]="{'winner': match.team1.score == 10}" [routerLink]="['/player', match.team1.player1.id]">
            <div class="name" >{{ match.team1.player1.name }}</div>
            <div class="rating">{{ match.team1.player1.presentRating | number:'1.0-0' }}</div>
        </td> 
        <td class='left player' [ngClass]="{'winner': match.team1.score == 10}" [routerLink]="['/player', match.team1.player2.id]">
            <div class="name">{{ match.team1.player2.name }}</div>
            <div class="rating">{{ match.team1.player2.presentRating | number:'1.0-0' }}</div>
            </td>
        <td>
            <div class="outcome">
                <span [ngClass]="{'winner': match.team1.score == 10}">{{ match.team1.score }}</span> : 
                <span [ngClass]="{'winner': match.team2.score == 10}">{{ match.team2.score }}</span>
            </div>
            <div class='rating' [ngClass]="match.team1.ratingChange > 0 ? 'leftArrow' : 'rightArrow'">
                {{ match.team1.ratingChange | abs | number:'1.0-1' }}
            </div>
        </td>
        <td class='right player' [ngClass]="{'winner': match.team2.score == 10}" [routerLink]="['/player', match.team2.player1.id]">
            <div class="name">{{ match.team2.player1.name }}</div>
            <div class="rating">{{ match.team2.player1.presentRating | number:'1.0-0' }}</div>
        </td> 
        <td class='left player' [ngClass]="{'winner': match.team2.score == 10}" [routerLink]="['/player', match.team2.player2.id]">
            <div class="name">{{ match.team2.player2.name }}</div>
            <div class="rating">{{ match.team2.player2.presentRating | number:'1.0-0' }}</div>
            </td>
        <td class="hideNarrow">{{ match.team1.estimatedScore | number:'1.0-1' }} : {{ match.team2.estimatedScore | number:'1.0-1' }}</td>
        <td class="hideNarrow">{{ match.team1.pastSummedScoreAgainstThisTeam }} : {{ match.team2.pastSummedScoreAgainstThisTeam }} 
            ({{ match.team1.pastWinsAgainstThisTeam }}:{{ match.team2.pastWinsAgainstThisTeam }})</td>
    </tr>
</table>