<p>matches works!</p>

<table>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th colspan=2>Team 1</th>
            <th>Score</th>
            <th colspan=2>Team 2</th>
            <th>Estimated score</th>
            <th>Rating change</th>
        </tr>
        <tr *ngFor='let match of data; index as i;'>
            <td>{{ data.length - i }}</td>
            <td>{{ match.date }} - {{ match.time }}</td>
            <td class='right'>{{ match.team1.player1.name }} - </td> 
            <td class='left'>{{ match.team1.player2.name }}</td>
            <td>{{ match.team1.score }} - {{ match.team2.score }}</td>
            <td class='right'>{{ match.team2.player1.name }} -</td> 
            <td class='left'>{{ match.team2.player2.name }}</td>
            <td>{{ match.team1.estimated_score | number:'1.0-1' }} - {{ match.team2.estimated_score | number:'1.0-1' }}</td>
            <td>{{ match.team1.rating_change | number:'1.0-1' }}</td>
        </tr>
    </table>