table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
th {
    padding: 5px;
}
td {
    white-space: nowrap;
    padding: 3px;
}
td.right{
    text-align: right;
}
td.left{
    text-align: left;
}