<h4 class="divider">{{ data.name }}</h4>
<div class="profileWrapper">
    <div class="leftPanel">
        <div class="row" *ngIf=data.matches>
            <div class="presentRating">
                <div>Present rating:</div>
                <div class="value">{{ data.presentRating | number:'1.0-2'}}</div>
                <div class="subscript"
                *ngIf="data.ratingChange !== 0"
                [ngClass]="data.ratingChange > 0 ? 'green positive' : 'red negative'">
                    {{ data.ratingChange | abs | number:'1.0-2' }})
                </div>
            </div>
            <div class="currentRank">
                <div>Current rank:</div>
                <div class="value">{{ data.currentRank }}</div>
            </div>
        </div>
        <div class="row" *ngIf=data.matches>
            <div class="edgeRatings">
                <div>Best / worst rating:</div>
                <div class=edgeRatingValues>
                    <div class="green">
                        <div class="value">{{ data.maxRating.value | number:'1.0-2'}}</div>
                        <div class="subscript">
                            {{ data.maxRating.timestamp | date }}
                        </div>
                    </div>
                    <div class="red">
                        <div class="value">{{ data.minRating.value | number:'1.0-2'}}</div>
                        <div class="subscript">
                            {{ data.minRating.timestamp | date }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="lastTrend" *ngIf=data.matches>
                <div>Trend:</div>
                <div class="matchesGraph">
                    <div class="match" 
                        *ngFor="let match of data.matches.slice().reverse().slice(0,5).reverse()" 
                        [ngClass]="match.team1.score > match.team2.score ? 'won' : 'lost'">
                        <span>{{ match.team1.score > match.team2.score ? 'W' : ' L' }}</span><br>
                        <span>{{ match.team1.ratingChange | number:'1.0-1'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf=data.matches>
            <div class="firstMatch" *ngIf=data.matches>
                <div>First match:</div>
                <div class="value">{{ data.matches[0].timestamp | date}}</div>
                <div class="subscript">{{ data.matches[0].timestamp | fromNow }}</div>
            </div>
            <div>
                <div>Last match:</div>
                <div class="value">{{ data.matches[data.matches.length - 1].timestamp | date}}</div>
                <div class="subscript">{{ data.matches[data.matches.length - 1].timestamp | fromNow}}</div>
            </div>
        </div>
        <div class="row" *ngIf=data.matches>
            <div class="matchesPlayed">
                <div>Matches summary:</div>
                <div class="value">{{ data.wins + data.losses}} 
                    (<span class="green">{{ data.wins }}</span> : <span class="red">{{ data.losses }}</span>)</div>
                <div class="subscript">{{ data.matchesPerDay | number:'1.0-2' }} matches per day</div>
            </div>
            <div class="firstMatch" *ngIf=data.matches>
                <div>Goals summary:</div>
                <div class="value">
                    <span class="green">{{ data.goalsScored }}</span> : <span class="red">{{ data.goalsLost }}</span>
                </div>
                <div class="subscript">Avg: 
                        <span class="green">{{ data.goalsScored / data.matches.length | number:'1.0-2'}}</span>
                        : <span class="red">{{ data.goalsLost / data.matches.length | number:'1.0-2' }}</span>
                </div>
            </div>
        </div>
        <div class="row" *ngIf=data.matches>
            <div>
                <div>Top teammates:</div>
                <div class='topTeammate hoverShow' *ngFor="let friend of data.skirmishes.friends.slice(0,3)">
                    <div class="value" [routerLink]="['/player', friend[1]]">{{ friend[0] }}</div>
                    <div class="subscript">{{ friend[2] }} played matches</div>
                </div>
            </div>
            <div>
                <div>Biggest enemies:</div>
                <div class="value">{{ data.skirmishes.enemies[0][0] }}<br>
                    <span *ngIf="data.skirmishes.enemies[0][1] !== data.skirmishes.enemies[0][0]">
                        {{ data.skirmishes.enemies[0][1] }}</span></div>
                <div class="subscript">{{ data.skirmishes.enemies[0][2]}} played matches</div>
            </div>
        </div>
        <div id="chart">

        </div>
    </div>
    <div class="rightPanel" *ngIf=data.matches>
        Last 15 matches
        <table class="matchList" *ngIf=data.matches>
            <thead>
                <th class="date">Date</th>
                <th>Team 1</th>
                <th>Score</th>
                <th>Team 2</th>
                <th class="lifetime">Lifetime</th>
            </thead>
            <tr class="matchListElement" 
                *ngFor="let match of data.matches.slice().reverse().slice(0,15)" 
                [ngClass]="match.team1.score > match.team2.score ? 'won' : 'lost'">
                <td class='date'>
                    <div>{{ match.date }}</div>
                    <div>{{ match.time }}</div>
                </td>
                <td class="team1">
                    <div class='upper player hoverShow' [ngClass]="{'winner': match.team1.score == 10}" [routerLink]="['/player', match.team1.player1.id]">
                        <div class="name" >{{ match.team1.player1.name }}</div>
                    </div> 
                    <div class='lower player hoverShow' [ngClass]="{'winner': match.team1.score == 10}" [routerLink]="['/player', match.team1.player2.id]">
                        <div class="name">{{ match.team1.player2.name }}</div>
                    </div>
                </td>
                <td>
                    <div class="outcome">
                        <span [ngClass]="{'winner': match.team1.score == 10}">{{ match.team1.score }}</span> : 
                        <span [ngClass]="{'winner': match.team2.score == 10}">{{ match.team2.score }}</span>
                    </div>
                    <div class='rating' [ngClass]="match.team1.ratingChange > 0 ? 'positive' : 'negative'"
                        >{{ match.team1.ratingChange | abs | number:'1.0-1' }})
                    </div>
                </td>
                <td class="team2">
                    <div class='upper player hoverShow' [ngClass]="{'winner': match.team2.score == 10}" [routerLink]="['/player', match.team2.player1.id]">
                        <div class="name">{{ match.team2.player1.name }}</div>
                    </div> 
                    <div class='lower player hoverShow' [ngClass]="{'winner': match.team2.score == 10}" [routerLink]="['/player', match.team2.player2.id]">
                        <div class="name">{{ match.team2.player2.name }}</div>
                    </div>
                </td>
                <td class="lifetime">{{ match.team1.pastSummedScoreAgainstThisTeam }} : {{ match.team2.pastSummedScoreAgainstThisTeam }} 
                    ({{ match.team1.pastWinsAgainstThisTeam }}:{{ match.team2.pastWinsAgainstThisTeam }})
                </td>
                </tr>
        </table>
    </div>
</div>