.profileWrapper {
    display: flex;
}

.leftPanel, .rightPanel {
    width: 50%;
}

h4 {
    text-align: center;
}

.leftPanel .row {
    display: flex;
    justify-content: space-evenly;
    min-height: 6em;
    font-size: 1.0em;
    align-items: center;
    text-align: center;
}

.row > div {
    width: 50%;
}

.row .value {
    font-size: 1.5em;
    font-weight: 700;
}

.subscript {
    font-size: 0.6em;
    margin-top: -2px;
}

.green {
    color: #4d754d;
}

.red {
    color: #754d4d;
}

.positive::before {
    content: "(+";
}

.negative::before {
    content: "(-";
}

.match {
    font-size: 0.7em;
    width:35px;
    height:35px;
}

.match.won {
    background-color: #4d754d;
}

.match.lost {
    background-color: #754d4d;
}

.matchesGraph {
    display: flex;
    justify-content: center;
}

.matchesGraph > div {
    line-height: 16px;
    border-radius: 8px;
    border: 2px solid rgb(102, 102, 169);
}

.matchList {
    font-size: 0.8em;
    text-align: center;
    white-space: nowrap;
}

.matchListElement.lost {
    background-color: #382525;
}

.matchListElement.won {
    background-color: #213321;
}

.matchListElement {
    margin: 0 5px;
}

.outcome {
    font-size: 1.8em;
    font-weight: 800;
}

.name {
    line-height: 1.5em;
    cursor: pointer;
}

.edgeRatingValues {
    display:flex;
    justify-content: space-evenly;
}

#chart {
    width: 500px;
    height: 250px;
    margin-top: 40px;
}

.clickable {
    cursor: pointer;
}

.topTeammate {
    margin-bottom: 5px;
}

@media screen and (max-width: 1200px) {
    .rightPanel {
        display: none;
    }
    .leftPanel {
        width: 100%;
    }
}